* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Listenly/Scr/frontend/Pages/Img/bg_dark.jpg);
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}


main {
    flex: 1;
    
    padding: 16px;
}

#slidebar {
    width: 300px;
    background-color: #121212;
    padding: 24px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo i {
    font-size: 24px;
}

.nav-libary {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-libary i, .nav-libary p {
    font-size: 14px;
    color: #B7B3B6;
    cursor: pointer;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcast button {
    background-color: #fff;
    color: #000 ;
    border: none;
    padding: 8px 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-playlist p, .nav-podcast p {
    font-size: 12px;
}

.nav-footer{
    margin-top: auto;
}
.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: hidden;
    overflow-x: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
    position: fixed;
}

.search-bar button i{
    cursor: pointer;
    
}

.log {
    display: flex;
    gap: 10px;           /* espaço entre os links */
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    
    padding: 8px 16px;
    border-radius: 20px;
}

/* Links dentro do header */
.log a {
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    width: 120px;        /* opcional, ou deixe automático */
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;         /* para contraste */
}


.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.artist-grid, .albums-grid {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
}

.artist-Card, .album-Card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.artist-Card::hover , .album-Card::hover {
    background-color: #282828;
}

.artist-Card img , .album-Card img {
    width: 100%;
    max-width: 70%;
    border-radius: 50px;
    margin-bottom: 16px;
}

.artist-Card h3 , .album-Card h3{
    font-size: 12px;
}

.artist-Card p , .album-Card p{
    font-size: 10px;
    color: #B7B3B6;
}



.content {
    margin-top: 40px;
}



.container h2 {
    margin-bottom: 10px;
}



.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #000000, #011d3f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2{
    font-size: 14px;
}

.banner p{
    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
}



.content{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
}

.artist-grid {
    display: flex;       /* deixa os artistas lado a lado */
    gap: 20px;  /* Espaço fazio entre os artistas */
}

.artist img {
    width: 150px;        /* ajusta o tamanho da imagem */
    height: auto;
    cursor: pointer;
}

.artist {
    text-align: center;  /* centraliza o nome abaixo da imagem */
}

.artist-grid img{
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}


.artist-grid h4{
    display: flex;
    margin-top: 160px; /* aumenta a distância entre a imagem e o nome */
    font-size: 16px;  /* tamanho do texto */
    text-align: center; /* garante que o texto continue centralizado */
    
}



.albums {
    text-align: center;  /* centraliza o nome abaixo da imagem */
}

.albums-grid {
    display: flex;       /* deixa os artistas lado a lado */
    gap: 20px;           /* espaço entre os artistas */
}

.albums img {
    width: 150px;        /* ajusta o tamanho da imagem */
    height: auto;
    cursor: pointer;
}

.albums {
    text-align: center;  /* centraliza o nome abaixo da imagem */
}

.albums-grid img{
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 10px;   
}

.albums-grid h4{
    display: flex;
    margin-top: 160px; /* aumenta a distância entre a imagem e o nome */
    font-size: 16px;  /* tamanho do texto */
    text-align: center; /* garante que o texto continue centralizado */
    
}