* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-image: url(/Listenly/Scr/frontend/Pages/Img/bg_dark.jpg);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.container { /* Container */
    background-image: url(/Listenly/Scr/frontend/Pages/Img/bg_dark.jpg);
    display: flex;
    height: 100vh;
}

.sidebar { /* Barra Lateral */
    width: 300px;
    background-color: #121212;
    padding: 24px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}

